@use '../../app/styles/design-system/index.scss' as *;

.root {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  cursor: pointer;

  &:hover {
    background-color: $gray-1;
  }
}

.name {
  padding: $size-3;
  color: $gray-9;
  font-family: $font-sans;
  font-size: $font-size-1;
  border-bottom: 1px solid $gray-2;
}

.client {
  padding: $size-3;
  color: $gray-7;
  font-family: $font-sans;
  font-size: $font-size-1;
  border-bottom: 1px solid $gray-2;
}

.date {
  padding: $size-3;
  color: $gray-7;
  font-family: $font-sans;
  font-size: $font-size-1;
  border-bottom: 1px solid $gray-2;
}
