@use '../../app/styles/design-system/index.scss' as *;

.root {
  display: flex;
  flex-direction: column;
  gap: $size-4;
}

.name {
  margin: 0;
  font-family: $font-sans;
  font-size: $font-size-4;
  font-weight: $font-weight-6;
  color: $gray-9;
}

.fields {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: $size-2 $size-5;
  margin: 0;
}

.label {
  font-family: $font-sans;
  font-size: $font-size-0;
  font-weight: $font-weight-6;
  color: $gray-6;
  letter-spacing: $font-letterspacing-2;
  text-transform: uppercase;
}

.value {
  font-family: $font-sans;
  font-size: $font-size-1;
  color: $gray-9;
  margin: 0;
}
